header#header{
    width: 1280px;
    height: 49px;
    /* background-color: grey; */
    position: absolute;
    left: 80px;
    top: 65px;
    display: flex;
    flex-direction: row;
}
div.logo{
    width: 166px;
    height: 49px;
}
div#nav-bar{
    width: 271px;
    height: 19px;
    position: absolute;
    left: 1005px;
    top: 15px;
}
 div > ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: relative;
    top: -15px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 18.78px;
    
}
a.nav-link{
    text-decoration: none;
    color: #07043B;
}
div#hero-section{
    /* border: 1px solid green; */
    width: 1280px;
    height: 474px;
    position: absolute;
    left: 38px;
    top: 260px;
}
div > #hero-img{
    width: 640px;
    height: 474px;
    position: absolute;
    left: 640px;
}
div.info{
    width: 640px;
    
}
p.heading{
    width: 627px;
    height: 120px;
    margin-top: 60px;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 60px;
}
p.info-text{
    width: 585px;
    height: 72px;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
form.user-info{
    width: 536px;
    height: 45px;
}
form > input{
    width: 320px;
    height: 45px;
    border: 1px solid #07043B;
    border-radius: 3px;
    color: #c2c2c2;
    /* padding-left: 20px; */
}
form > button{
    width: 200px;
    height: 45px;
    /* margin-left: 4px; */
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-color: #2F65F8;
    border-color: #2F65F8;
    border-radius: 3px;
}